@{
}

<h2>Informações Sobre o Candidato </h2>


<p>Nome: Ícaro Victor Félix Campelo</p>
<p>Email: i.victorfs@gmail.com</p>
<p>Telefone: 86 995783531</p>
<p>LinkedIn:<a>https://www.linkedin.com/in/ícaro-victor-félix-campelo-684453217</a></p>







